.jumbotron {
    color: black;
    background-color: grey;
    opacity: .7;
    margin: auto;
    width: 50%;
  }

  h1 {
    font-size: 100px;
    font-weight: 400;
  }

  .btn {
    width:275px;
    padding:15px;
    font-size: 20px;
  
  }
  .main-button-container {
    max-width: 450px;
    margin: auto;
  }

  #mainArea {
    margin-top:10px;
    max-width: 50%;
    margin: auto;
    color: black;
    font-size: 26px;
    height: 500px;;
  }
  .timer-p {
    margin-top: 50px;
    font-size:24px;
  }
  
  p.text-center {
    font-size:24px;
  }
  .answer:hover {
    background: lightcoral;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color:white;
  }
  .answer {
    height: 55px;
    color: black;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    opacity: .7;

  }

  img {
    margin-top: 30px;
    width:70%;
    border-radius: 25px;
    
  }
  .img-wrong {
    border-radius: 25px;
    margin-top: 40px;
    width:60%;
    
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
  
  body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    color: white;
    font-size: 20px;
  }